Source: parseltongue
Section: science
Priority: extra
Maintainer: Mark Kettenis <kettenis@jive.nl>
Build-Depends: debhelper (>=9), python, obit
Standards-Version: 3.9.3
Homepage: http://www.jive.nl/jivewiki/doku.php?id=parseltongue:parseltongue

Package: parseltongue
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, obit
Description: Python scripting interface for classic AIPS
 ParselTongue is a Python interface to classic AIPS, Obit and possibly
 other task-based data reduction packages. It serves as the software
 infrastructure for some of the ALBUS implementation. It allows you to
 run AIPS tasks, and access AIPS headers and extension tables from
 Python. There is also support for running Obit tasks and accessing
 data in FITS files. Full access to the visibilities in AIPS UV data
 is also available.  ParselTongue allows you to script AIPS with a
 modern programming language, making complex automated data reduction
 possible. The excellent support for today's web standards in Python
 facilitates the development of pipelines that interact easily with
 the outside world.
